@import './normalize';

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Regular'), url('../fonts/Roboto-Regular.ttf') format('ttf');
}

html,
body,
.wrapper {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #e3e3e3;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: space-evenly;

  @media (max-width: 930px) {
    & {
      font-size: 16px;
    }
  }

  @media (max-width: 700px) {
    & {
      font-size: 14px;
    }
  }
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 5px;
  column-gap: 2px;
  padding: 4px;
  border: 1px solid black;
  border-radius: 5px;
  user-select: none;
  -webkit-box-shadow: 0px 0px 5px 7px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 5px 7px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 5px 7px rgba(34, 60, 80, 0.2);
}

.text-area {
  outline: none;
  border-radius: 10px;
}

.message {
  text-align: center;
  font-size: 20px;
}


.text-area {
  min-height: 250px;
  padding: 20px;
  resize: none;
}

.button {
  height: 60px;
  width: 6.2%;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: rgb(71, 71, 71);
  color: #fff;
  overflow: hidden;
  box-shadow: 0 3px #999;
  cursor: pointer;
  @media (max-width: 930px) {
    height: 50px;
  }
}

.backspace {
  width: 13.5%;
  @media (max-width: 700px) {
    position: relative;
    font-size: 0;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../icons/backspace.svg) center no-repeat;
    }
  }
}

.enter {
  width: 15%;
}

.tab {
  width: 7.5%;
}

.capslock {
  width: 11%;
}

.shiftleft,
.shiftright {
  width: 12.5%;
}

.space {
  width: 46.9%;
}

.backquote,
.tab,
.capslock,
.shiftleft,
.controlleft,
.altleft,
.altright,
.controlright,
.arrowleft,
.arrowdown,
.arrowright,
.arrowup,
.shiftright,
.enter,
.delete,
.backspace {
  background-color: #2e2e2e;
}


button:active,
.clicked {
  background-color: rgb(112, 112, 255);
  transition: all linear .1s;
  box-shadow: 0 2px #666;
  transform: translateY(2px)
}

