@import './normalize';

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

.keyboard,
.text-area {
  width: 100%;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(15, 6.66%);
  grid-template-rows: repeat(5, 1fr);
  user-select: none;
}

.text-area {
  min-height: 250px;
  max-width: 1150px;
  width: 100%;
  padding: 20px;
  resize: none;
}

.button {
  &:nth-child(1):nth-child(-n+14) {
    grid-row: 1 / 2;
  }
  &:nth-child(n+15):nth-child(-n+29) {
    grid-row: 2 / 3;
  }
  &:nth-child(n+30):nth-child(-n+43) {
    grid-row: 3 / 4;
  }
  &:nth-child(n+43):nth-child(-n+56) {
    grid-row: 4 / 5;
  }
  &:nth-child(n+56):nth-child(-n+100) {
    grid-row: 5 / 6;
  }
  &:active {
    background-color: rgb(136, 136, 255);
  }
}

.clicked {
  background-color: rgb(136, 136, 255);
}

// .Backspace {
//   grid;
// }